
body {
    font-family: "Noto Sans Mono", monospace;
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

html {
    scroll-behavior: smooth;
}

a {
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
